<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>HelmesTest - Main Form Page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

Please enter your name and pick the Sectors you are currently involved in.
<br />
<br />

<form method="POST" th:action="@{/execute}">
    Name:
    <input type="text" id="userName" name="userName" th:value="*{userDto?.userName}" />
    <input type="submit" id="refill" name="action" value="Refill Form"/>
    <br />
    <br />

    Sectors:

    <br />
    <div th:if="${not #lists.isEmpty(parentSectorList)}">
        <select multiple size="10" class="form-control" name = "selectedSectorList">
            <optgroup
                    th:each="sectorDto : ${parentSectorList}"
                    th:label="${sectorDto.sectorName}"
                    th:value="${sectorDto}">
                <option
                            th:each="sectorDto : ${sectorDto.getSubSectors()}"
                            th:text="${sectorDto.sectorName}"
                            th:value="${sectorDto.id}"
                            th:selected="${#lists.contains(userSectorIdList, sectorDto.id)}"
                    >
                    </option>
            </optgroup>
        </select>
    </div>

    <div th:if="${#lists.isEmpty(parentSectorList)}">
        <select multiple size="10" class="form-control" name = "selectedSectorList">
            <option
                    th:each="sectorDto : ${sectorList}"
                    th:text="${sectorDto.getSectorName()}"
                    th:value="${sectorDto.id}"
                    th:selected="${#lists.contains(userSectorIdList, sectorDto.id)}"
            >
            </option>
        </select>
    </div>

    <br />
    <br />
    <input type="checkbox" id="agreedToTerms" name="agreedToTerms" onchange="getAgreedOnTerms(this)" th:checked="${userDto?.agreedToTerms}"> Agree to terms

    <br />
    <br />
    <input type="submit" id="addUser" name="action" value="Add New User & Save Form"/>
    <input type="submit" id="updateUser" name="action" value="Update Form Choices For Existing User"/>
</form>
</body>
<script>
    var agreedToTerms = document.getElementById('agreedToTerms');
    var addUser = document.getElementById('addUser');
    var updateUser = document.getElementById('updateUser');
    addUser.disabled = true;
    updateUser.disabled = true;
    agreedToTerms.onchange = function() {
        addUser.disabled = !this.checked;
        updateUser.disabled = !this.checked;
    };
</script>
</html>
