<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>HelmesTest - Main Form Page</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

Please enter your name and pick the Sectors you are currently involved in.
<br />
<br />

<form method="POST" th:action="@{/execute}">
Name:
    <input type="text" id="userName" name="userName" th:value="*{userDto?.userName}" />
    <input type="submit" name="action" value="Refill the Form Using Stored Data"/>
<br />
<br />

Sectors:

<br />
    <select multiple size="5" class="form-control" name = "selectedSectorIdString">
        <option name = "selectedSectorIdString"
                th:block
                th:each="sectorDto : ${sectorList}"
                th:text="${sectorDto.getSectorName()}"
                th:value="${sectorDto.id}"
                >
        </option>
    </select>

    <br />
    <br />
    <input type="checkbox" id="agreedToTerms" name="agreedToTerms" onchange="getAgreedOnTerms(this)" th:checked="${userDto?.agreedToTerms}"> Agree to terms

    <br />
    <br />
    <input type="submit" id="addUser" value="Add New User & Save Form" name="action"/>
    <input type="submit" id="updateUser" value="Update Form Choices For Existing User" name="action"/>
</form>
</body>
<script>
    var agreedToTerms = document.getElementById('agreedToTerms');
    var addUser = document.getElementById('addUser');
    var updateUser = document.getElementById('updateUser');
    addUser.disabled = true;
    updateUser.disabled = true;
    agreedToTerms.onchange = function() {
        addUser.disabled = !this.checked;
        updateUser.disabled = !this.checked;
    };
</script>
</html>
